.container {
  width: 100%;
  margin: auto;
  text-align: center; 
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background: linear-gradient(70deg, #ff7eb3, #ff758c, #ffc46b, #fff6a9);
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 4rem;
  color: #269b74;
}
h2{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
p {
  font-size: 2rem;
  color:black;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 40%;
}

.btn{
  display: flex;
  justify-content: center;
  margin: 1rem;
}
button{
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  font-weight: 800;
  border: none;
  border-radius: 1rem;
}

footer {
  margin-top: 1%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
